body{
    font-family: 'Quicksand', sans-serif;
}

div.container-fluid{
    margin-left: 10%;
}

div.navbar-nav{
    margin-left: 53%;
}

button.btn.btn-primary{
    background-color: #FCA311;
    border: none;
    color: #14213D;
    font-weight: 600; 
    margin-left: 1%;
}

a.nav-link{
    font-size: 18px;
    font-weight: 600;
}

div.bio{
    width: 1080px;
    height: 400px;
    display: table-cell;
    vertical-align: middle
}

p.text1{
    font-size: 40px;
    font-weight: 200;
    margin: 0;
    margin-left: 15%;
}

p.text2{
    font-size: 40px;
    font-weight: 700;
    margin: 0;
    margin-left: 15%;
}

p.text3{
    font-size: 40px;
    font-weight: 500;
    margin: 0;
    margin-left: 15%;
}

p.text4{
    margin-left: 15%;
    margin-top: 5%;
}

a.instagram{
    margin-left: 15%;
}

a{
    color: #14213D;
}

a:hover {
    color: #FCA311;
}

div.row{
    margin-left: 3%;
    margin-bottom: 5em;
}

div.modal-header{
    font-weight: 700;
    font-size: large;
}

.modal-content{
    background-clip: none;
}

p.card-text{
    font-weight: bold;
}

div.chamar-cliente{
    height: 285px;
    background-color: #14213D;
    color: white;
    align-content: center;
}

div.chamar-cliente h1{
    padding: 5%;
    margin-left: 7em;
}

div.chamar-cliente button{
    margin-left: 35em;
    border-radius: 3px;
    background-color: #FCA311;
    border: none;
    color: #14213D;
    font-weight: 600; 
    padding: .375rem .75rem;
}

footer.rodape{
    padding-top: 5%;
}

a.brand-footer{
    margin-left: 37em;
}

div.icons-social{
    padding-top: 3em;
    margin-left: 27em;
}

footer.rodape p{
    padding-top: 5%;
    margin-left: 31em;
}

a.topo-navbar{
    margin-left: 30em;
}