body{
    font-family: 'Quicksand', sans-serif;
}

button.btn.btn-primary{
    background-color: #FCA311;
    border: none;
    color: #14213D;
    font-weight: 600; 
    margin-left: 1%;
}

a.nav-link{
    font-size: 18px;
    font-weight: 600;
}

div.bio{
    width: 1080px;
    height: 400px;
    display: table-cell;
    vertical-align: middle
}

p.text1{
    font-size: 40px;
    font-weight: 200;
    margin: 0;
    margin-left: 13%;
}

p.text2{
    font-size: 40px;
    font-weight: 700;
    margin: 0;
    margin-left: 13%;
}

p.text3{
    font-size: 40px;
    font-weight: 500;
    margin: 0;
    margin-left: 13%;
}

p.text4{
    margin-left: 13%;
    margin-top: 5%;
}

a.instagram{
    margin-left: 12.5%;
}

a{
    color: #14213D;
}

a:hover {
    color: #FCA311;
}

div.row{
    margin-left: 3%;
    margin-bottom: 5em;
}

div.modal-header{
    font-weight: 700;
    font-size: large;
}

.modal-content{
    background-clip: none;
}

p.card-text{
    font-weight: bold;
}

footer.rodape{
    padding-top: 5%;
}

a.brand-footer{
    margin-left: 40em;
}

div.icons-social{
    padding-top: 3em;
    margin-left: 31.5em;
}

footer.rodape p{
    padding-top: 5%;
    margin-left: 30em;
}

a.topo-navbar{
    margin-left: 30em;
}

div.container{
    margin-left: 5em;
}